/* CORES */

:root {
    --p1: #fff9f1;
    --p2: #decfc0;
    --p3: #b3987d;
    --p4: #b38264;
    --p5: #99633d;
    --p6: #84533a;
    --p7: #b5602a;

    --s1: #23324e;

    --c00: #ffffff;
    --c05: #f5f5f5;
    --c10: #ebebeb;
    --c20: #e1e1e1;
    --c30: #c8c8c8;
    --c40: #afafaf;
    --c50: #969696;
    --c60: #7d7d7d;
    --c70: #646464;
    --c80: #4b4b4b;
    --c90: #323232;
    --c95: #191919;
    --c100: #000000;
}

/* FONTES */

:root {
    --font-1: "Ogg", serif;
    --font-2: "Recoleta", serif;
    --font-3: "Lato", sans-serif;
}

/* BOTÕES */

.btn1 {
    font-family: var(--font-3);
    font-size: 1rem;

    color: var(--p1);
    background-color: var(--p4);
    border: 1px solid transparent;

    padding: 0.5rem 2rem;
    border-radius: 2rem;
    align-self: start;
    transition: 0.3s ease;
}

.btn1:hover {
    color: var(--p4);
    background-color: var(--p1);
    border: 1px solid var(--p4);
}

.btn2 {
    font-family: var(--font-3);
    font-size: 1rem;

    color: var(--p4);
    border: 1px solid var(--p4);

    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: 0.3s ease;
}

.btn2:hover {
    background-color: var(--p1);
}

.btn3 {
    font-family: var(--font-3);
    font-size: 1rem;

    color: var(--p4);
    background-color: var(--p1);
    border: 1px solid transparent;

    padding: 0.5rem 2rem;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.btn3:hover {
    border: 1px solid var(--p4);
}

.btn3::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    background: url(../img/icones/btn-seta.svg);
    margin-left: 12px;
    transition: 0.3s ease;
}

.btn3:hover::after {
    transform: translateX(12px);
}