.contatos-titulo {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.contatos-titulo h1 {
    grid-column: 1;
    font-family: var(--font-1);
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    text-align: right;
    color: var(--p5);
    max-width: 5ch;
    place-self: end;
}

.contatos-titulo p {
    grid-column: 2;
    font-family: var(--font-2);
    line-height: 1.25;
    font-size: 1.125rem;
    color: var(--c60);
}

.contatos-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 20rem;
}

.contatos-form label {
    font-family: var(--font-2);
    font-size: 1.125rem;
    color: var(--p5);
    margin-left: 1rem;
    margin-bottom: 0.75rem;
}

.contatos-form input,
.contatos-form textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--p3);
    border-radius: 0.5rem;
    width: 100%;
    height: 3rem;
    padding-inline: 1rem;

    font-family: var(--font-3);
    font-size: 1rem;
    color: var(--c60);
}

.contatos-form input:focus,
.contatos-form textarea:focus {
    outline: none;
    border: 1px solid var(--p7);
    background-color: rgba(255, 255, 255, 0.6);
    transition: ease 0.5s;
}

::placeholder {
    color: var(--c40);
    max-width: 40ch;
}

.contatos-form div:has(label[for="email"]) {
    grid-column: 1/3;
}

.contatos-form div:has(label[for="mensagem"]) {
    grid-column: 1/3;
}

.contatos-form textarea[name="mensagem"] {
    height: 10rem;
    padding-top: 1rem;
}

.contatos-form button {
    grid-column: 2;
    justify-self: right;

    background-color: var(--p4);
    height: 2.5rem;
    width: max-content;
    padding: 0.5rem 3rem;
    border-radius: 2.5rem;

    font-family: var(--font-2);
    font-size: 1.125rem;
    color: var(--c00);

    cursor: pointer;
}

.contatos-form button:hover {
    background-color: var(--p5);
    transition: ease 0.5s;
    color: var(--p1);
}
