.convites-titulo {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 2rem;
    margin-block: 6rem;
}

.convites-titulo h1 {
    grid-column: 1;
    font-family: var(--font-1);
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    text-align: right;
    color: var(--p5);
    max-width: 5ch;
    place-self: end;
}

.convites-titulo p {
    grid-column: 2;
    font-family: var(--font-2);
    line-height: 1.25;
    font-size: 1.125rem;
    color: var(--c60);
}

.convites-lista {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 2rem;
    margin-left: 18rem;
    margin-bottom: 6rem;
}

.convites-lista div {
    height: 19rem;
    width: 100%;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.convites-lista h2 {
    font-family: var(--font-2);
    font-size: 1.75rem;
    font-weight: 300;
    text-align: left;
    color: var(--p4);
    margin-left: 1rem;
}

.convites-lista ul > li {
    font-family: var(--font-3);
    font-size: 1rem;
    text-align: left;
    color: var(--c70);
    margin-left: 1rem;
}

.convites-lista div:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVO */

@media (max-width: 1440px) {
    .convites-titulo {
        margin-block: 2rem;
    }
}

@media (max-width: 1080px) {
    .convites-titulo {
        grid-template-columns: auto 1fr;
    }

    .convites-titulo h1 {
        font-size: 2.5rem;
    }

    .convites-titulo p {
        max-width: 45ch;
    }

    .convites-lista {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
}

@media (max-width: 720px) {
    .convites-titulo {
        grid-template-columns: 1fr;
        gap: .75rem;
    }

    .convites-titulo h1 {
        place-self: start;
    }

    .convites-titulo p {
        grid-column: 1;
    }

    .convites-lista {
        gap: 1rem;
    }

    .convites-lista div {
        height: 15rem;
    }

    .convites-lista h2 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-left: .5rem;
    }

    .convites-lista ul > li {
        font-size: .875rem;
        margin-left: .5rem;
    }
}

/* CONVITES */

/* DAMIÃO */

.convites-damiao {
    background-image: url(/img/convites/damiao/damiao1.webp);
    transition: ease 0.5s;
}

.convites-damiao:hover {
    background-image: url(/img/convites/damiao/damiao2.webp);
}

/* LUXURY */

.convites-luxury {
    background-image: url(/img/convites/luxury/luxury1.webp);
    transition: ease 0.5s;
}

.convites-luxury:hover {
    background-image: url(/img/convites/luxury/luxury2.webp);
}

/* PRATA */

.convites-prata {
    background-image: url(/img/convites/prata/prata1.webp);
    transition: ease 0.5s;
}

.convites-prata:hover {
    background-image: url(/img/convites/prata/prata2.webp);
}

/* SIDE */

.convites-side {
    background-image: url(/img/convites/side/side1.webp);
    transition: ease 0.5s;
}

.convites-side:hover {
    background-image: url(/img/convites/side/side2.webp);
}

/* CAROLA */

.convites-carola {
    background-image: url(/img/convites/carola/carola1.webp);
    transition: ease 0.5s;
}

.convites-carola:hover {
    background-image: url(/img/convites/carola/carola2.webp);
}

/* LAVANDA */

.convites-lavanda {
    background-image: url(/img/convites/lavanda/lavanda1.webp);
    transition: ease 0.5s;
}

.convites-lavanda:hover {
    background-image: url(/img/convites/lavanda/lavanda2.webp);
}

/* BEACH */

.convites-beach {
    background-image: url(/img/convites/beach/beach1.webp);
    transition: ease 0.5s;
}

.convites-beach:hover {
    background-image: url(/img/convites/beach/beach2.webp);
}

/* BINI */

.convites-bini {
    background-image: url(/img/convites/bini/bini1.webp);
    transition: ease 0.5s;
}

.convites-bini:hover {
    background-image: url(/img/convites/bini/bini2.webp);
}

/* ROSY */

.convites-rosy {
    background-image: url(/img/convites/rosy/rosy1.webp);
    transition: ease 0.5s;
}

.convites-rosy:hover {
    background-image: url(/img/convites/rosy/rosy2.webp);
}

/* ONOFRE */

.convites-onofre {
    background-image: url(/img/convites/onofre/onofre1.webp);
    transition: ease 0.5s;
}

.convites-onofre:hover {
    background-image: url(/img/convites/onofre/onofre2.webp);
}

/* PITTERI */

.convites-pitteri {
    background-image: url(/img/convites/pitteri/pitteri1.webp);
    transition: ease 0.5s;
}

.convites-pitteri:hover {
    background-image: url(/img/convites/pitteri/pitteri2.webp);
}

/* CHEQUER */

.convites-chequer {
    background-image: url(/img/convites/chequer/chequer1.webp);
    transition: ease 0.5s;
}

.convites-chequer:hover {
    background-image: url(/img/convites/chequer/chequer2.webp);
}

/* DRAFT */

.convites-draft {
    background-image: url(/img/convites/draft/draft1.webp);
    transition: ease 0.5s;
}

.convites-draft:hover {
    background-image: url(/img/convites/draft/draft2.webp);
}

/* AFRICA */

.convites-africa {
    background-image: url(/img/convites/africa/africa1.webp);
    transition: ease 0.5s;
}

.convites-africa:hover {
    background-image: url(/img/convites/africa/africa2.webp);
}

/* PARTY */

.convites-party {
    background-image: url(/img/convites/party/party1.webp);
    transition: ease 0.5s;
}

.convites-party:hover {
    background-image: url(/img/convites/party/party2.webp);
}

/* TEEN */

.convites-teen {
    background-image: url(/img/convites/teen/teen1.webp);
    transition: ease 0.5s;
}

.convites-teen:hover {
    background-image: url(/img/convites/teen/teen2.webp);
}

/* COLLECT */

.convites-collect {
    background-image: url(/img/convites/collect/collect1.webp);
    transition: ease 0.5s;
}

.convites-collect:hover {
    background-image: url(/img/convites/collect/collect2.webp);
}

/* AGE */

.convites-age {
    background-image: url(/img/convites/age/age1.webp);
    transition: ease 0.5s;
}

.convites-age:hover {
    background-image: url(/img/convites/age/age2.webp);
}

/* TIP */

.convites-tip {
    background-image: url(/img/convites/tip/tip1.webp);
    transition: ease 0.5s;
}

.convites-tip:hover {
    background-image: url(/img/convites/tip/tip2.webp);
}

/* GARDEN */

.convites-garden {
    background-image: url(/img/convites/garden/garden1.webp);
    transition: ease 0.5s;
}

.convites-garden:hover {
    background-image: url(/img/convites/garden/garden2.webp);
}

/* RENDA */

.convites-renda {
    background-image: url(/img/convites/renda/renda1.webp);
    transition: ease 0.5s;
}

.convites-renda:hover {
    background-image: url(/img/convites/renda/renda2.webp);
}

/* BROWN */

.convites-brown {
    background-image: url(/img/convites/brown/brown1.webp);
    transition: ease 0.5s;
}

.convites-brown:hover {
    background-image: url(/img/convites/brown/brown2.webp);
}

/* MUNDI */

.convites-mundi {
    background-image: url(/img/convites/mundi/mundi1.webp);
    transition: ease 0.5s;
}

.convites-mundi:hover {
    background-image: url(/img/convites/mundi/mundi2.webp);
}

/* VERVLOET */

.convites-vervloet {
    background-image: url(/img/convites/vervloet/vervloet1.webp);
    transition: ease 0.5s;
}

.convites-vervloet:hover {
    background-image: url(/img/convites/vervloet/vervloet2.webp);
}

/* ZANTE */

.convites-zante {
    background-image: url(/img/convites/zante/zante1.webp);
    transition: ease 0.5s;
}

.convites-zante:hover {
    background-image: url(/img/convites/zante/zante2.webp);
}

/* BUD */

.convites-bud {
    background-image: url(/img/convites/bud/bud1.webp);
    transition: ease 0.5s;
}

.convites-bud:hover {
    background-image: url(/img/convites/bud/bud2.webp);
}

/* BAMBU */

.convites-bambu {
    background-image: url(/img/convites/bambu/bambu1.webp);
    transition: ease 0.5s;
}

.convites-bambu:hover {
    background-image: url(/img/convites/bambu/bambu2.webp);
}

/* CRUZ */

.convites-cruz {
    background-image: url(/img/convites/cruz/cruz1.webp);
    transition: ease 0.5s;
}

.convites-cruz:hover {
    background-image: url(/img/convites/cruz/cruz2.webp);
}

/* FARM */

.convites-farm {
    background-image: url(/img/convites/farm/farm1.webp);
    transition: ease 0.5s;
}

.convites-farm:hover {
    background-image: url(/img/convites/farm/farm2.webp);
}

/* BENÍCIO */

.convites-benicio {
    background-image: url(/img/convites/benicio/benicio1.webp);
    transition: ease 0.5s;
}

.convites-benicio:hover {
    background-image: url(/img/convites/benicio/benicio2.webp);
}

/* FRANCIS */

.convites-francis {
    background-image: url(/img/convites/francis/francis1.webp);
    transition: ease 0.5s;
}

.convites-francis:hover {
    background-image: url(/img/convites/francis/francis2.webp);
}

/* AL MARE */

.convites-almare {
    background-image: url(/img/convites/almare/almare1.webp);
    transition: ease 0.5s;
}

.convites-almare:hover {
    background-image: url(/img/convites/almare/almare2.webp);
}

/* B&W */

.convites-bew {
    background-image: url(/img/convites/bew/bew1.webp);
    transition: ease 0.5s;
}

.convites-bew:hover {
    background-image: url(/img/convites/bew/bew2.webp);
}

/* ARBOR */

.convites-arbor {
    background-image: url(/img/convites/arbor/arbor1.webp);
    transition: ease 0.5s;
}

.convites-arbor:hover {
    background-image: url(/img/convites/arbor/arbor2.webp);
}

/* GOLDEN */

.convites-golden {
    background-image: url(/img/convites/golden/golden1.webp);
    transition: ease 0.5s;
}

.convites-golden:hover {
    background-image: url(/img/convites/golden/golden2.webp);
}

/* REAL */

.convites-real {
    background-image: url(/img/convites/real/real1.webp);
    transition: ease 0.5s;
}

.convites-real:hover {
    background-image: url(/img/convites/real/real2.webp);
}

/* VELEIRO */

.convites-veleiro {
    background-image: url(/img/convites/veleiro/veleiro1.webp);
    transition: ease 0.5s;
}

.convites-veleiro:hover {
    background-image: url(/img/convites/veleiro/veleiro2.webp);
}

/* WOOD */

.convites-wood {
    background-image: url(/img/convites/wood/wood1.webp);
    transition: ease 0.5s;
}

.convites-wood:hover {
    background-image: url(/img/convites/wood/wood2.webp);
}

/* CHAMPANHE */

.convites-champanhe {
    background-image: url(/img/convites/champanhe/champanhe1.webp);
    transition: ease 0.5s;
}

.convites-champanhe:hover {
    background-image: url(/img/convites/champanhe/champanhe2.webp);
}

/* GUIPIR */

.convites-guipir {
    background-image: url(/img/convites/guipir/guipir1.webp);
    transition: ease 0.5s;
}

.convites-guipir:hover {
    background-image: url(/img/convites/guipir/guipir2.webp);
}

/* LA BELLE */

.convites-labelle {
    background-image: url(/img/convites/labelle/labelle1.webp);
    transition: ease 0.5s;
}

.convites-labelle:hover {
    background-image: url(/img/convites/labelle/labelle2.webp);
}

/* CRISTAL */

.convites-cristal {
    background-image: url(/img/convites/cristal/cristal1.webp);
    transition: ease 0.5s;
}

.convites-cristal:hover {
    background-image: url(/img/convites/cristal/cristal2.webp);
}

/* LINEAR */

.convites-linear {
    background-image: url(/img/convites/linear/linear1.webp);
    transition: ease 0.5s;
}

.convites-linear:hover {
    background-image: url(/img/convites/linear/linear2.webp);
}

/* DROP */

.convites-drop {
    background-image: url(/img/convites/drop/drop1.webp);
    transition: ease 0.5s;
}

.convites-drop:hover {
    background-image: url(/img/convites/drop/drop2.webp);
}

/* BLUE */

.convites-blue {
    background-image: url(/img/convites/blue/blue1.webp);
    transition: ease 0.5s;
}

.convites-blue:hover {
    background-image: url(/img/convites/blue/blue2.webp);
}

/* WHITE */

.convites-white {
    background-image: url(/img/convites/white/white1.webp);
    transition: ease 0.5s;
}

.convites-white:hover {
    background-image: url(/img/convites/white/white2.webp);
}

/* NAME */

.convites-name {
    background-image: url(/img/convites/name/name1.webp);
    transition: ease 0.5s;
}

.convites-name:hover {
    background-image: url(/img/convites/name/name2.webp);
}

/* ROYAL */

.convites-royal {
    background-image: url(/img/convites/royal/royal1.webp);
    transition: ease 0.5s;
}

.convites-royal:hover {
    background-image: url(/img/convites/royal/royal2.webp);
}

/* SILAND */

.convites-siland {
    background-image: url(/img/convites/siland/siland1.webp);
    transition: ease 0.5s;
}

.convites-siland:hover {
    background-image: url(/img/convites/siland/siland2.webp);
}

/* TAG */

.convites-tag {
    background-image: url(/img/convites/tag/tag1.webp);
    transition: ease 0.5s;
}

.convites-tag:hover {
    background-image: url(/img/convites/tag/tag2.webp);
}

/* PORTUGUESA */

.convites-portuguesa {
    background-image: url(/img/convites/portuguesa/portuguesa1.webp);
    transition: ease 0.5s;
}

.convites-portuguesa:hover {
    background-image: url(/img/convites/portuguesa/portuguesa2.webp);
}

/* RED */

.convites-red {
    background-image: url(/img/convites/red/red1.webp);
    transition: ease 0.5s;
}

.convites-red:hover {
    background-image: url(/img/convites/red/red2.webp);
}

/* METALIC */

.convites-metalic {
    background-image: url(/img/convites/metalic/metalic1.webp);
    transition: ease 0.5s;
}

.convites-metalic:hover {
    background-image: url(/img/convites/metalic/metalic2.webp);
}

/* LOOP */

.convites-loop {
    background-image: url(/img/convites/loop/loop1.webp);
    transition: ease 0.5s;
}

.convites-loop:hover {
    background-image: url(/img/convites/loop/loop2.webp);
}

/* PÉROLA */

.convites-perola {
    background-image: url(/img/convites/perola/perola1.webp);
    transition: ease 0.5s;
}

.convites-perola:hover {
    background-image: url(/img/convites/perola/perola2.webp);
}

/* LUZZI */

.convites-luzzi {
    background-image: url(/img/convites/luzzi/luzzi1.webp);
    transition: ease 0.5s;
}

.convites-luzzi:hover {
    background-image: url(/img/convites/luzzi/luzzi2.webp);
}

/* LÍRIO */

.convites-lirio {
    background-image: url(/img/convites/lirio/lirio1.webp);
    transition: ease 0.5s;
}

.convites-lirio:hover {
    background-image: url(/img/convites/lirio/lirio2.webp);
}

/* LACE */

.convites-lace {
    background-image: url(/img/convites/lace/lace1.webp);
    transition: ease 0.5s;
}

.convites-lace:hover {
    background-image: url(/img/convites/lace/lace2.webp);
}

/* RELEVO */

.convites-relevo {
    background-image: url(/img/convites/relevo/relevo1.webp);
    transition: ease 0.5s;
}

.convites-relevo:hover {
    background-image: url(/img/convites/relevo/relevo2.webp);
}

/* IT */

.convites-it {
    background-image: url(/img/convites/it/it1.webp);
    transition: ease 0.5s;
}

.convites-it:hover {
    background-image: url(/img/convites/it/it2.webp);
}

/* LIC */

.convites-lic {
    background-image: url(/img/convites/lic/lic1.webp);
    transition: ease 0.5s;
}

.convites-lic:hover {
    background-image: url(/img/convites/lic/lic2.webp);
}

/* INFINITE */

.convites-infinite {
    background-image: url(/img/convites/infinite/infinite1.webp);
    transition: ease 0.5s;
}

.convites-infinite:hover {
    background-image: url(/img/convites/infinite/infinite2.webp);
}

/* GREEN */

.convites-green {
    background-image: url(/img/convites/green/green1.webp);
    transition: ease 0.5s;
}

.convites-green:hover {
    background-image: url(/img/convites/green/green2.webp);
}

/* HOUSE */

.convites-house {
    background-image: url(/img/convites/house/house1.webp);
    transition: ease 0.5s;
}

.convites-house:hover {
    background-image: url(/img/convites/house/house2.webp);
}

/* BELIQUE */

.convites-belique {
    background-image: url(/img/convites/belique/belique1.webp);
    transition: ease 0.5s;
}

.convites-belique:hover {
    background-image: url(/img/convites/belique/belique2.webp);
}

/* MARIA */

.convites-maria {
    background-image: url(/img/convites/maria/maria1.webp);
    transition: ease 0.5s;
}

.convites-maria:hover {
    background-image: url(/img/convites/maria/maria2.webp);
}

/* SWEET */

.convites-sweet {
    background-image: url(/img/convites/sweet/sweet1.webp);
    transition: ease 0.5s;
}

.convites-sweet:hover {
    background-image: url(/img/convites/sweet/sweet2.webp);
}

/* BLACK */

.convites-black {
    background-image: url(/img/convites/black/black1.webp);
    transition: ease 0.5s;
}

.convites-black:hover {
    background-image: url(/img/convites/black/black2.webp);
}

/* OURO */

.convites-ouro {
    background-image: url(/img/convites/ouro/ouro1.webp);
    transition: ease 0.5s;
}

.convites-ouro:hover {
    background-image: url(/img/convites/ouro/ouro2.webp);
}

/* STAMPING */

.convites-stamping {
    background-image: url(/img/convites/stamping/stamping1.webp);
    transition: ease 0.5s;
}

.convites-stamping:hover {
    background-image: url(/img/convites/stamping/stamping2.webp);
}