/* FONTES */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
    font-family: Ogg;
    src: url(../fonts/ogg/OggRegular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: Recoleta;
    src: url(../fonts/recoletaalt/RecoletaAlt-Light.ttf) format(truetype);
    font-weight: light;
}

@font-face {
    font-family: Recoleta;
    src: url(../fonts/recoletaalt/RecoletaAlt-Regular.ttf) format(truetype);
    font-weight: regular;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
    border: none;
    background: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* CONTAINER */

body {
    background: #e2d5cc url(../img/home/background.png) repeat-y;
    background-size: 100%;
}

.container {
    max-width: 80em;
    padding: 0 2rem;
    margin: 0 auto;
}
