/* CABEÇALHO */

.header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu-lista {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu-social {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.menu-social li:last-child {
    background-color: var(--p1);
    padding: 0.75rem;
    border-radius: 50%;
}

menu a {
    font-family: var(--font-3);
    font-weight: 500;
    font-size: 1rem;
    color: var(--c50);
    transition: 0.3s ease;
}

menu a:hover {
    color: var(--p5);
}

@media (max-width: 1080px) {
    .header {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .header > a {
        display: none;
    }

    .header nav {
        align-self: end;
    }

    .header nav > menu {
        gap: 2rem;
    }
}

@media (max-width: 720px) {}