/* CABEÇALHO */

.header {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu-lista {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu-lista a {
    font-family: var(--font-3);
    font-weight: 500;
    font-size: 1rem;
    color: var(--c50);
    transition: 0.3s ease;
}

.menu-lista a:hover {
    color: var(--p5);
}

.menu-social {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.menu-social li:last-child {
    background-color: var(--p1);
    padding: 0.75rem;
    border-radius: 50%;
}

@media (max-width: 1080px) {
    .header {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .header > .wpp {
        display: none;
    }

    .header nav {
        align-self: end;
        position: relative;
        display: flex;
        justify-content: end;
    }

    .menu-lista {
        gap: .25rem;
        top: 50px;
    }

    .menu-social {
        display: none;
    }
}

@media (max-width: 720px) {
    .header {
        padding-block: 1.25rem;
        background: linear-gradient(to bottom, #E1D6CC, #E1D6CC00);
    }
}